<!--Bottom Nav Bar-->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text text-center mx-auto">&copy; Copyright 2023. All rights Reserved</h6>
  <a class="navbar-brand" href="https://github.com/EzekielAd/Assignment3"><i class="fa-brands fa-github"></i></a>
  <a class="navbar-brand" href="https://www.linkedin.com/in/ezekiel-adekunle-09a6a8258/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
  
</nav>

<!--Script Files-->
<script src="/Scripts/app.js>"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

</div>
  </body>
</html>