<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<main class="container">
  <div class="centered-content">
    <img src="Content/mepic.jpg" alt="Profile Image" class="profile-image">
    <h1 class="display-4">Welcome to my <%= title %></h1>
    <h1 class="display-5">by Adekunle Ezekiel</h1>
  </div>
</main>


<% include partials/bottom_nav.ejs %>
