<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>


<main class="container">
  <div class="centered-content">
    <h1 class="display-4">Welcome to my <%= title %></h1>
    <h1 class="display-6">This is my programming experience</h1>
    <p class="lead">Over the years ive been in this school ive mainly gotten IT lessons on JAVA, Assembly language, a bit of html, Python and C++.
        I once had an assignment to make a program that functions like a rat maze but estimates the possible paths the rat could take to get to the cheese, which is the aim in this case.
        I misread the project and created a rat maze game, which took me approximately 4 days to finish after exploring the internet, looking over lecture notes, and making prayers to all known deities. I was fortunate to have a very outstanding teacher, and as a result, I received half of the grade for effort. It wasn't simple, and I might owe certain gods my soul, but it was an interesting experience.
    </p>
  </div>
</main>

<% include partials/bottom_nav.ejs %>